data
models/email_classifier.keras
models/model.keras
models/model2.keras
models/model3.keras
models/model4.keras
models/model5.keras
scripts/check_env.py
src/test.py
.gitignore
.ipynb_checkpoints
.dockerignore